@model TeamApolloFinal.Models.Student
@{
    ViewBag.Title = "ConfirmRegister";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("All Systems Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            
            </ul>
        </div>
    </div>
</div>
<h2>ConfirmRegister</h2>
<p> Thankyou @Model.FirstName for signing up ! We are excited to see you have chosen the @Model.Track career path . 
    We will be sending out an email each month with exciting @Model.Track information . The IT field is an ever changing world and we 
    want to keep you up to date. </p>
