@model TeamApolloFinal.Models.Student
@{
    ViewBag.Title = "ConfirmRegister";
}

<h2>ConfirmRegister</h2>
<p> Thankyou @Model.FirstName for signing up ! We are excited to see you have chosen the @Model.Track career path . 
    We will be sending out an email each month with exciting @Model.Track information . The IT field is an ever changing world and we 
    want to keep you up to date. </p>
