@model IEnumerable<TeamApolloFinal.Models.Apollo>
@{
    ViewBag.Title = "Home Page";
}


   
<h2>HomePage</h2>

@*<p>
    @Html.Display(Model.Motivation)
</p>*@

<table>
    @foreach (var quotes in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => quotes.Motivation)
            </td>
        </tr>

    }
</table>

